{% extends "notes/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'notes/css/new.css' %}">
{% endblock styles %}

{% block main_content %}
<!--    TODO note code goes here. Make form-->
    <form method="POST" class="create-form">
        {% csrf_token %}
        {{ form }}
        <button>submit</button>
    </form>
{% endblock main_content %}

{% block scripts %}
    <script>
        {% if error %}
            $('#id_title').val('')
            $('#id_title').attr('placeholder', "Title already exists")
            $('#id_title').css('border-bottom', '2px solid red')
        {% endif %}
    </script>

{% endblock scripts %}
