{% extends "notes/base.html" %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'notes/css/home.css' %}">
{% endblock styles %}

{% block main_content %}
<!--  TODO: Home  code goes here. Show recent posts. last 3 days-->

    {% for note in notes|slice:":5" %}
        <div class="home-note card">
            <img class="note-icon" src="{% static 'notes/images/book.png' %}">
            <h2 class="note-title">{{ note.title }} </h2>
            <hr>
            <h4 class="note-content">
                {{ note.content|slice:":300" }}
                {% if note.content|length > 300 %}
                    <a href="info/{{note.title}}">Read more...</a>
                {% endif %}
            </h4>
            <div>
                <h6>Date Created: {{ note.date_of_creation }}</h6>
                <h5><a href="info/{{note.title}}">visit note...</a></h5>
            </div>
        </div>
    {% endfor %}
{% endblock main_content %}