{% extends "notes/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'notes/css/info.css' %}">
<link rel="stylesheet" href="{% static 'notes/css/notes.css' %}">
{% endblock styles %}


{% block main_content %}
<!-- info code goes here-->
    <div class="notes-container">
    {% if not note_data %}
        <h2>This note does not exist</h2>
    {% else %}
        <div class="note-content">
        <h1 id="note-title">{{ note_data.0.title }}</h1>
        <hr>
            <form id="note-desc" method="POST">
                {% csrf_token %}
                {{ edit_form }}
                <button type="button" id="fake_edit_note" class="fake-edit">Edit</button>
                <button id="real_edit_note" class="fake-edit">Save</button>
            </form>
        </div>
        <button class="fake" id="fake">Delete Page!</button>
        <form method="POST" class="delform">
            {% csrf_token %}
            <label>Do you really want to delete the Note:</label>
            <input type="submit" name="delete" value="Yes" class="fake">
        </form>
    {% endif %}
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'notes/js/info.js' %}"></script>
<script>
    $("#content").val(`{{ note_data.0.content }}`)
</script>
{% endblock scripts %}